{% extends "base.html" %}

{% block title %}{{ SITENAME }} | About{% endblock %}
{% set current = "about" %}

{% block content %}

<div class="relative mb-12 md:mt-14 text-zinc-800 dark:text-zinc-300">
    <h1 class="flex font-bold my-10 text-4xl mb-12 md:my-12 text-zinc-800 dark:text-zinc-300">
        About&nbsp;
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
            stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
    </h1>
    <div class="stork-wrapper">
        <h2 class="flex font-bold my-10 text-2xl mb-12 md:my-12 text-zinc-800 dark:text-zinc-300">
            Our vision
        </h2>
        <p class="my-10 text-m mb-12 md:my-12 text-zinc-800 dark:text-zinc-300">
            We are Connet Information Technology, a small but passionate team driven by the vision of
            crafting the world best tools for aerospace engineers. CSIDE stands as our inaugural integrated
            development environment, setting itself apart from traditional IDEs with its lightweight nature.
            CSIDE is written entirely in Python 3 and provides an extensible plug-in system.
            Users can leverage the extensive ecosystem provided by Python to customize CSIDE to their specific needs and workflows.
            Inspired deeply by Eclipse and Visual Studio Code, CSIDE pays homage to these masters through its design philosophy.
        </p>
        <p class="mt-10 text-m md:mt-12 text-zinc-800 dark:text-zinc-300">
            We believe there's a better way to work as an engineer, which comes from a Chinese saying: </br>
            <span class="underline">If a worker wants to do his job well, he must first sharpen his tools.</span>
            So we build CSIDE starts with the following assumptions.
        </p>
        <p class="my-4 font-bold text-lg mb-4 md:my-4 text-zinc-800 dark:text-zinc-300">
            ASM1. A good engineer always has strong desire to sharpen his tools based on specific needs and workflow.
        </p>
        <p class="my-4 font-bold text-lg mb-4 md:my-4 text-zinc-800 dark:text-zinc-300">
            ASM2. A good tool even more productive than 100 assistants.
        </p>
        <img class="image-right" width="40px" src="{{ SITEURL }}/images/CNCT_LOGO.svg"></img>
    </div>
</div>

{% endblock %}
