{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}

<div class="relative mb-12 md:mt-14 text-zinc-800 dark:text-zinc-300">
    <h1 class="flex block font-bold my-10 text-4xl mb-12 md:my-12 text-zinc-800 dark:text-zinc-300">
        Power of Scripting.&nbsp;
        <img width="60%" src="/images/CSIDE_LOGO.svg"></img>
    </h1>
    <div class="stork-wrapper">
        <p>
            <span class="font-bold">CSIDE</span> is <span class="underline">an Integrated Development Environment written entirely in <span class="font-bold">Python 3</span></span>.
            It not only provides an elegant Python development experience, but also demonstrates the magical capabilities of scripting languages.
            CSIDE project proves that developers can wield the magic whip of scripting languages ​​​​not only for daily automation tasks,
            but also to <span class="underline">easily build powerful applications and solutions</span>.
        </p>
        <div class="flex my-10 mb-12 md:my-12 dark:hidden">
            <img src="/images/ScreenShot 2024-03-25 22.34.02.png">
        </div>
    </div>
</div>

{% endblock %}
